*{
    font-family: Arial;
}

body{
    background-color: #EEF6FA;
}

.sectionLeft{
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;
    background-color: #499C54;
    border-radius: 10px;
    box-shadow: 0px 0px 27px 13px rgba(49, 49, 49, 0.3);
    padding-top: 1%;
    width: 25%;
    height: 77%;
    text-align: center;
}

.sectionRight{
    position: absolute;
    top: 15%;
    left: 29%;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 10px 0px 27px 13px rgba(49, 49, 49, 0.3);
    padding-top: 1px;
    width: 65%;
    height: 79%;
}

.footer{
    position: absolute;
    top: 96%;
    left: 50%;
    font-size: 15px;
}

.header{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0%;
    left: 0%;
    background: #62AA6D;
    border-radius: 0 0 95% 95% / 40%;
}

A:link {
    text-decoration: none;
}

A:visited{
    color: white;
    text-decoration: none;
}